.login-card {
    max-width: 600px;
    /* height: 400px; */
    margin: 3rem auto;
  }
  .login-card td{
      padding: 0 10px;
  }
  
  .mat-card-header{
      text-align: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  